<a href="https://colab.research.google.com/github/prolin99/python_begin/blob/main/2-1%E5%AD%97%E4%B8%B2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 字串
字串： 單行文字，使用雙引號、單引號都相同。多行文字使用 3 個引號框住。

In [ ]:
s1 = "teacher"
print(s1)

s2 = 'teacher'
print(s2)


str3 = 'allows embedded "double" quotes'
print(str3)


s3="""
多行文字
第二行
第三行"""

print(s3)

# 大小寫

In [ ]:
name = ' jone smith'
name.title() , name.upper() , name.lower()

# 字串運算

In [ ]:
'5'+'3'

In [ ]:
字串運算
'abc' +　'123'

In [ ]:
#這有什麼問題，
num = 123
'abc' + num

In [ ]:
s1='abc' 
s1 * 2

In [ ]:
str1 = 'Hello World!'

print("更新後的字串-> ", str1[:6] + 'Python!')

更新後的字串->  Hello Python!

In [ ]:
s = '台北,台中,台南'
s.split(',')

#','.join(list1)

# 字串中的值 （以 0 開頭）

In [ ]:
s1='0123456789'
s1[0]  --> 0
#s1[-1] --> 9
#s1[2:-2] --> 234567
#s1[::-1] 反轉文字  [開始:結束:間隔]

# 尋找取代

In [ ]:
str1 = 'Hello World!'
"H" in str1

#"H" not in a

In [ ]:
mystr = 'I love python , python is easy'
mystr.find('pyth')

#mystr.rfind('pyth')

In [ ]:
#s.count('字') 字串出現的次數

mystr.count('python')

In [ ]:
str1 = "test, test."
str1.replace("test", "testing")
#str.replace("test", "testing", 1)

# 清除左右空白

In [ ]:
#s.strip(chars) 清除左右的空白或指定字元 rstrip lstrip
mystr = '  I love python === ...  '
mystr.strip() 
#mystr.strip(' =.')   #空白或 = 或 .

# print

In [ ]:
#end 預設換行
print('a' , 'b' , 'c' )  # -> a b c
print('next line')


#sep 分隔 end結束為空白無換行
print('a' , 'b' , 'c' , sep="," , end= " ") # -> a,b.c
print('next line')

In [ ]:
# %  做資料的分隔，不是逗號
print("%3d" % 42)
print("%2d %2d " % (42 , 45))

# 輸出格式
[可以參考 Formatted Output](https://www.python-course.eu/python3_formatted_output.php)

In [ ]:

seafood = '師傅'
'感恩{}，讚嘆{}'.format(seafood,seafood)
#print('感恩%s，讚嘆%s'%(seafood,seafood))

'感恩師傅，讚嘆師傅'

In [ ]:
#使用 .format (文字 < 置左   >置右) {0}第一個參數 ...
print("{0:<20s} {1:6.2f}".format('Spam & Eggs:' , 7.9945)  )

In [ ]:
'{0}, {1}, {2}'.format('a', 'b', 'c')
#'a, b, c'
#'{}, {}, {}'.format('a', 'b', 'c')

In [ ]:

'{2}, {1}, {0}'.format('a', 'b', 'c')
#'c, b, a'

In [ ]:
'{2}, {1}, {0}'.format(*'abc')      # unpacking argument sequence
'c, b, a'

In [ ]:
'{0}{1}{0}'.format('abra', 'cad')   # arguments' indices can be repeated
'abracadabra'

In [ ]:
"int: {0:d};  hex: {0:x};  oct: {0:o};  bin: {0:b}".format(42)
'int: 42;  hex: 2a;  oct: 52;  bin: 101010'

In [ ]:
 
>>> '{:+f}; {:+f}'.format(3.14, -3.14)  # show it always
'+3.140000; -3.140000'