<a href="https://colab.research.google.com/github/prolin99/python_begin/blob/main/5-4%20excel_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 使用 pandas 讀寫 excel 
[pandas.DataFrame.to_excel](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html)

In [ ]:
#寫人 excel 
import pandas as pd

excel_data = []
for i in range(10):
  excel_data.append(['a{0}'.format(i), 'b{0}'.format(i), 'c{0}'.format(i)])

print(excel_data)  


#df = pd.DataFrame(excel_data)
#可以加上欄位或列名 index=['row 1', 'row 2']  columns=["A欄","B欄","C欄"]
df = pd.DataFrame(excel_data, columns=["A欄","B欄","C欄"])
#df.to_excel('sample.xlsx' )
df.to_excel('sample.xlsx' , index = False )

[['a0', 'b0', 'c0'], ['a1', 'b1', 'c1'], ['a2', 'b2', 'c2'], ['a3', 'b3', 'c3'], ['a4', 'b4', 'c4'], ['a5', 'b5', 'c5'], ['a6', 'b6', 'c6'], ['a7', 'b7', 'c7'], ['a8', 'b8', 'c8'], ['a9', 'b9', 'c9']]

In [ ]:
# 讀取 excel 
import pandas as pd
df = pd.read_excel('sample.xlsx')
df

   A欄  B欄  C欄
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
3  a3  b3  c3
4  a4  b4  c4
5  a5  b5  c5
6  a6  b6  c6
7  a7  b7  c7
8  a8  b8  c8
9  a9  b9  c9