<a href="https://colab.research.google.com/github/prolin99/python_begin/blob/main/5-4%20excel_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 使用 pandas 讀寫 excel 
[pandas.DataFrame.to_excel](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html)

* 如果出現不支援 xlsx 出現錯誤，這是因為 xlrd 2.0版後只支援 .xls ，可以改用 openpyxl 套件


```
# pip install openpyxl

df = pd.read_excel('sample.xlsx' ,engine='openpyxl')
```

* 另外注意，讀取出來的值格式可能要再做檢查，例如整數或小數。

In [ ]:
#寫人 excel 
import pandas as pd

excel_data = []
for i in range(10):
  excel_data.append(['a{0}'.format(i), 'b{0}'.format(i), 'c{0}'.format(i)])

print(excel_data)  


#df = pd.DataFrame(excel_data)
#可以加上欄位或列名 index=['row 1', 'row 2']  columns=["A欄","B欄","C欄"]
df = pd.DataFrame(excel_data, columns=["A欄","B欄","C欄"])
#df.to_excel('sample.xlsx' )
df.to_excel('sample.xlsx' , index = False )

[['a0', 'b0', 'c0'], ['a1', 'b1', 'c1'], ['a2', 'b2', 'c2'], ['a3', 'b3', 'c3'], ['a4', 'b4', 'c4'], ['a5', 'b5', 'c5'], ['a6', 'b6', 'c6'], ['a7', 'b7', 'c7'], ['a8', 'b8', 'c8'], ['a9', 'b9', 'c9']]

In [ ]:
# 讀取 excel 
import pandas as pd
df = pd.read_excel('sample.xlsx')
# df = pd.read_excel('sample.xlsx' ,engine='openpyxl')
print(df)

print('-----')
# 最大列數
for row in range(df.index.stop):
   print('{},{},{}'.format(df.values[row][0],df.values[row][1],df.values[row][2]) )

print('-----')
#使用串列方式取值
data_list = df.to_numpy()
for va,vb,vc in data_list:
  print(va,vb,vc)

#學生成績處理常用功能
請在本機中測試以下程式碼：

下載以下鍵結檔 excel 檔案，檔名為 stud_test.xlsx
https://docs.google.com/spreadsheets/d/14UtocYfdKTBk0WLNnNh2InaXieX9ZWEQYEfscv5e03o/edit?usp=sharing

In [1]:
#這一段只是在讀取 goole 雲端檔案的寫法 ，執行這一段需要授權
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 讀檔

In [2]:
import pandas as pd 
#把 excel 練習檔案放在 雲端 pylib 目錄上了
df = pd.read_excel("/content/drive/My Drive/pylib/stud_test1.xlsx" , engine='openpyxl')
#df = pd.read_excel("stud_test1.xlsx" , engine='openpyxl')

#列出前五筆
print(df.head(5))

#列出 count筆數、比均、最大最小等
print(df.describe())

#單科總和 sum() 平均 mean  最小min() 最大 max() 筆數 count()
print(df['國語'].mean())

     姓名      性別       組別  國語  數學  社會
0  s110  female  group B  72  72  74
1  s111  female  group C  69  90  88
2  s112  female  group B  90  95  93
3  s113    male  group A  47  57  44
4  s114    male  group C  76  78  75
              國語         數學         社會
count  34.000000  34.000000  34.000000
mean   62.000000  66.970588  65.117647
std    15.988632  15.329681  16.069479
min    18.000000  32.000000  28.000000
25%    51.000000  54.750000  53.500000
50%    65.500000  70.000000  68.500000
75%    70.750000  74.750000  75.000000
max    90.000000  95.000000  93.000000
62.0

In [ ]:
#取得第三筆 （由0開始），轉成 list
print(df.iloc[2].tolist())

#找指定欄位
print(df.loc[ df['姓名']=='s114' ])

['s112', 'female', 'group B', 90, 95, 93, 3]
     姓名    性別       組別  國語  數學  社會  rand
4  s114  male  group C  76  78  75     9

##只讀取部份容

In [3]:
# 只讀取部份欄位內容

df2 = pd.read_excel("/content/drive/My Drive/pylib/stud_test1.xlsx" , engine='openpyxl',  usecols='D:F' )
print(df2.head(5))

#也可利用串列指定部份列
print(df2[2:5])

   國語  數學  社會
0  72  72  74
1  69  90  88
2  90  95  93
3  47  57  44
4  76  78  75
   國語  數學  社會
2  90  95  93
3  47  57  44
4  76  78  75

In [10]:
# 列數限制 skiprows=2 略去列號   nrows=5 列數
#指定開始的列數，但上方的欄位名會找上一行的資料做欄名，可以加 names 指定欄名
df3 = pd.read_excel("/content/drive/My Drive/pylib/stud_test1.xlsx" , engine='openpyxl',  skiprows=4, names=['a','b','c','D','E','F'])
print(df3.head(5))

      a       b        c   D   E   F
0  s114    male  group C  76  78  75
1  s115  female  group B  71  83  78
2  s116  female  group B  88  95  92
3  s117    male  group B  40  43  39
4  s118    male  group D  64  64  67

##欄位順序重排

In [ ]:
df3=df[['姓名', '國語','組別']]
df3.head(5)

     姓名  國語       組別
0  s110  72  group B
1  s111  69  group C
2  s112  90  group B
3  s113  47  group A
4  s114  76  group C

# 清除欄、列

In [ ]:
#df3.drop('組別', inplace=True, axis=1)
del df3['組別']
#df3.pop('組別')

print(df3.head(5))

#刪除一列
df3.drop(0 ,inplace=True )
print(df3.head(5))

##加入欄位：總分、平均

In [ ]:

#第一種方法
#使用 水平軸算平均(但要注意有些數字欄位是不是成績，例如座號等數字)
df['mean']= df.mean(axis=1 )

#第二種方法
#加入個人總分、平均
#df['總分'] = df['國語']+df['數學']+df['社會']
#df['平均'] = df['總分']/3

print(df.head(5))

     姓名      性別       組別  國語  數學  社會       mean
0  s110  female  group B  72  72  74  72.666667
1  s111  female  group C  69  90  88  82.333333
2  s112  female  group B  90  95  93  92.666667
3  s113    male  group A  47  57  44  49.333333
4  s114    male  group C  76  78  75  76.333333

##排序

In [ ]:
#排序　
df_sort = df.sort_values(by=['mean'] , ascending=False)
df_sort.head(5)

## 亂數排序（抽籤）

In [ ]:
#加入一個亂數欄位，常用於抽籤

import numpy as np 

#df 筆數
print(df.shape[0])


#使用 np 產生 list 長度  df.shape[0]
df['rand'] = np.random.randint(1, 100, df.shape[0])
print(df.head(5))

#以亂數值排序
df_sort = df.sort_values(by=['rand'] )

#增加順位值 1 到 全部
df_sort['sort_id'] = np.arange(start=1, stop=df.shape[0]+1 )
print(df_sort.head(5) )

34
     姓名      性別       組別  國語  數學  社會  rand
0  s110  female  group B  72  72  74     9
1  s111  female  group C  69  90  88    48
2  s112  female  group B  90  95  93     3
3  s113    male  group A  47  57  44    43
4  s114    male  group C  76  78  75     9
      姓名      性別       組別  國語  數學  社會  rand  sort_id
2   s112  female  group B  90  95  93     3        1
9   s119  female  group B  38  60  50     5        2
22  s132    male  group D  44  54  53     7        3
0   s110  female  group B  72  72  74     9        4
4   s114    male  group C  76  78  75     9        5

##取得部份資料

In [ ]:
# 取筆數
print(df[2:5])

print(df['姓名'][2:5].values)

In [ ]:
#取得部份資料 女性
df_female= df[df['性別']=='female']
print(df_female)

#女生 並為 group B
df_female_GroupB = df[(df['性別']=='female') & (df['組別'] == 'group B')]
print(df_female_GroupB)


#組別欄位中有 B 字元
df_GroupB = df[df['組別'].str.contains('B')]
print(df_GroupB)

      姓名      性別       組別  國語  數學  社會  rand
0   s110  female  group B  72  72  74     9
1   s111  female  group C  69  90  88    48
2   s112  female  group B  90  95  93     3
5   s115  female  group B  71  83  78    71
6   s116  female  group B  88  95  92    68
9   s119  female  group B  38  60  50     5
12  s122  female  group B  65  81  73    77
14  s124  female  group A  50  53  58    15
15  s125  female  group C  69  75  78    44
17  s127  female  group B  18  32  28    53
19  s129  female  group C  54  58  61    64
21  s131  female  group B  65  75  70    29
23  s133  female  group C  69  73  73    62
27  s137  female  group C  67  69  75    62
29  s139  female  group D  62  70  75    17
30  s140  female  group D  69  74  74    93
31  s141  female  group B  63  65  61    99
32  s142  female  group E  56  72  65    27
      姓名      性別       組別  國語  數學  社會  rand
0   s110  female  group B  72  72  74     9
2   s112  female  group B  90  95  93     3
5   s115  female  group B  71  83  78    71
6   s116  female  group B  88  95  92    68
9   s119  female  group B  38  60  50     5
12  s122  female  group B  65  81  73    77
17  s127  female  group B  18  32  28    53
21  s131  female  group B  65  75  70    29
31  s141  female  group B  63  65  61    99
      姓名      性別       組別  國語  數學  社會  rand
0   s110  female  group B  72  72  74     9
2   s112  female  group B  90  95  93     3
5   s115  female  group B  71  83  78    71
6   s116  female  group B  88  95  92    68
7   s117    male  group B  40  43  39    59
9   s119  female  group B  38  60  50     5
12  s122  female  group B  65  81  73    77
17  s127  female  group B  18  32  28    53
21  s131  female  group B  65  75  70    29
26  s136    male  group B  69  54  55    72
31  s141  female  group B  63  65  61    99

## 分組統計

In [ ]:
#分組
fd_group = df.groupby('組別')

print(fd_group.groups)

#取出 group B 組
fd_group.get_group('group B')

{'group A': [3, 13, 14, 25], 'group B': [0, 2, 5, 6, 7, 9, 12, 17, 21, 26, 31], 'group C': [1, 4, 10, 15, 16, 18, 19, 23, 27, 28], 'group D': [8, 11, 20, 22, 24, 29, 30, 33], 'group E': [32]}

      姓名      性別       組別  國語  數學  社會  rand
0   s110  female  group B  72  72  74     9
2   s112  female  group B  90  95  93     3
5   s115  female  group B  71  83  78    71
6   s116  female  group B  88  95  92    68
7   s117    male  group B  40  43  39    59
9   s119  female  group B  38  60  50     5
12  s122  female  group B  65  81  73    77
17  s127  female  group B  18  32  28    53
21  s131  female  group B  65  75  70    29
26  s136    male  group B  69  54  55    72
31  s141  female  group B  63  65  61    99

In [ ]:
# groupby 計算
#小計
df.groupby('組別').sum()
#平均
df.groupby('組別').mean()

                國語         數學         社會       rand
組別
group A  62.000000  64.000000  61.000000  34.250000
group B  61.727273  68.636364  64.818182  49.545455
group C  66.600000  69.800000  69.900000  52.100000
group D  57.375000  62.000000  61.625000  42.500000
group E  56.000000  72.000000  65.000000  27.000000

# 轉向

In [ ]:
import pandas as pd
dic = {
    "col_1": [1, 2, 3], 
    "col_2": [10, 20, 30],
    "col_3": list('xyz'),
    "col_4": ['a', 'b', 'c'],
    "col_5": pd.Series(range(3))
}
df = pd.DataFrame(dic)
print(df)

print(df.T)

   col_1  col_2 col_3 col_4  col_5
0      1     10     x     a      0
1      2     20     y     b      1
2      3     30     z     c      2
        0   1   2
col_1   1   2   3
col_2  10  20  30
col_3   x   y   z
col_4   a   b   c
col_5   0   1   2

##逐一取得成多列

In [ ]:
#逐一成每列一個值
list_data = df.values.tolist()
print(list_data)
new_list=[]
for rows in list_data:
    #print(rows )
    for cell in rows:
        new_list.append(cell)
print(new_list)        

df2 = pd.DataFrame(new_list)
df2