<a href="https://colab.research.google.com/github/prolin99/python_begin/blob/main/5-4%20excel_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 使用 pandas 讀寫 excel 
[pandas.DataFrame.to_excel](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html)

* 如果出現不支援 xlsx 出現錯誤，這是因為 xlrd 2.0版後只支援 .xls ，可以改用 openpyxl 套件


```
# pip install openpyxl

df = pd.read_excel('sample.xlsx' ,engine='openpyxl')
```

* 另外注意，讀取出來的值格式可能要再做檢查，例如整數或小數。

In [ ]:
#寫人 excel 
import pandas as pd

excel_data = []
for i in range(10):
  excel_data.append(['a{0}'.format(i), 'b{0}'.format(i), 'c{0}'.format(i)])

print(excel_data)  


#df = pd.DataFrame(excel_data)
#可以加上欄位或列名 index=['row 1', 'row 2']  columns=["A欄","B欄","C欄"]
df = pd.DataFrame(excel_data, columns=["A欄","B欄","C欄"])
#df.to_excel('sample.xlsx' )
df.to_excel('sample.xlsx' , index = False )

[['a0', 'b0', 'c0'], ['a1', 'b1', 'c1'], ['a2', 'b2', 'c2'], ['a3', 'b3', 'c3'], ['a4', 'b4', 'c4'], ['a5', 'b5', 'c5'], ['a6', 'b6', 'c6'], ['a7', 'b7', 'c7'], ['a8', 'b8', 'c8'], ['a9', 'b9', 'c9']]

In [ ]:
# 讀取 excel 
import pandas as pd
df = pd.read_excel('sample.xlsx')
# df = pd.read_excel('sample.xlsx' ,engine='openpyxl')
print(df)

print('-----')
# 最大列數
for row in range(df.index.stop):
   print('{},{},{}'.format(df.values[row][0],df.values[row][1],df.values[row][2]) )

print('-----')
#使用串列方式取值
data_list = df.to_numpy()
for va,vb,vc in data_list:
  print(va,vb,vc)

#學生成績處理常用功能
請在本機中測試以下程式碼：

下載以下鍵結檔 excel 檔案，檔名為 stud_test.xlsx
https://docs.google.com/spreadsheets/d/14UtocYfdKTBk0WLNnNh2InaXieX9ZWEQYEfscv5e03o/edit?usp=sharing

In [ ]:
#這一段只是在讀取 goole 雲端檔案的寫法 ，執行這一段需要授權
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 讀檔

In [8]:
import pandas as pd 
#把 excel 練習檔案放在 雲端 pylib 目錄上了
df = pd.read_excel("/content/drive/My Drive/pylib/stud_test1.xlsx" , engine='openpyxl')
#df = pd.read_excel("stud_test1.xlsx" , engine='openpyxl')

#列出前五筆
print(df.head(5))

#列出 count筆數、比均、最大最小等
print(df.describe())

#單科總和 sum() 平均 mean  最小min() 最大 max() 筆數 count()
print(df['國語'].mean())

     姓名      性別       組別  國語  數學  社會
0  s110  female  group B  72  72  74
1  s111  female  group C  69  90  88
2  s112  female  group B  90  95  93
3  s113    male  group A  47  57  44
4  s114    male  group C  76  78  75
              國語         數學         社會
count  34.000000  34.000000  34.000000
mean   62.000000  66.970588  65.117647
std    15.988632  15.329681  16.069479
min    18.000000  32.000000  28.000000
25%    51.000000  54.750000  53.500000
50%    65.500000  70.000000  68.500000
75%    70.750000  74.750000  75.000000
max    90.000000  95.000000  93.000000
62.0

##加入欄位：總分、平均

In [7]:

#第一種方法
#使用 水平軸算平均(但要注意有些數字欄位是不是成績，例如座號等數字)
df['mean']= df.mean(axis=1 )

#第二種方法
#加入個人總分、平均
#df['總分'] = df['國語']+df['數學']+df['社會']
#df['平均'] = df['總分']/3

print(df.head(5))

     姓名      性別       組別  國語  數學  社會       mean
0  s110  female  group B  72  72  74  72.666667
1  s111  female  group C  69  90  88  82.333333
2  s112  female  group B  90  95  93  92.666667
3  s113    male  group A  47  57  44  49.333333
4  s114    male  group C  76  78  75  76.333333

##排序

In [6]:
#排序　
df_sort = df.sort_values(by=['mean'] , ascending=False)
df_sort.head(5)

      姓名      性別       組別  國語  數學  社會       mean
2   s112  female  group B  90  95  93  92.666667
6   s116  female  group B  88  95  92  91.666667
16  s126    male  group C  88  89  86  87.666667
1   s111  female  group C  69  90  88  82.333333
5   s115  female  group B  71  83  78  77.333333

In [24]:
#加入一個亂數欄位，常用於抽籤

import numpy as np 

#df 筆數
print(df.shape[0])


#使用 np 產生 list 長度  df.shape[0]
df['rand'] = np.random.randint(1, 100, df.shape[0])
print(df.head(5))

df_sort = df.sort_values(by=['rand'] )
print(df_sort.head(5))

34
     姓名      性別       組別  國語  數學  社會  rand
0  s110  female  group B  72  72  74    89
1  s111  female  group C  69  90  88     3
2  s112  female  group B  90  95  93     3
3  s113    male  group A  47  57  44    88
4  s114    male  group C  76  78  75    68
      姓名      性別       組別  國語  數學  社會  rand
8   s118    male  group D  64  64  67     1
15  s125  female  group C  69  75  78     2
1   s111  female  group C  69  90  88     3
2   s112  female  group B  90  95  93     3
5   s115  female  group B  71  83  78     4

##取得部份資料

In [14]:
# 取筆數
print(df[2:5])

print(df['姓名'][2:5].values)

     姓名      性別       組別  國語  數學  社會
2  s112  female  group B  90  95  93
3  s113    male  group A  47  57  44
4  s114    male  group C  76  78  75
['s112' 's113' 's114']

In [ ]:
#取得部份資料 女性
df_female= df[df['性別']=='female']
print(df_female)

#女生 並為 group B
df_female_GroupB = df[(df['性別']=='female') & (df['組別'] == 'group B')]
print(df_female_GroupB)


#組別欄位中有 B 字元
df_GroupB = df[df['組別'].str.contains('B')]
print(df_GroupB)