<a href="https://colab.research.google.com/github/prolin99/python_begin/blob/main/7-1%20%E8%B3%87%E6%96%99%E5%BA%ABSQLite3_sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQLite
支援 SQL 語法，使用單一檔案儲存資料，很適合簡單的資料存放。

參考文件[資料庫](https://colab.research.google.com/drive/1UNDDO94U49UvF6SforIXpKM_peid7UnC#scrollTo=HXd7HGX0KVvv)


```
# 建立資料表
CREATE TABLE `資料表` (
    `欄位1`    型別,
    `欄位2`    型別,
    `.....
)

SQLite 型別

INTEGER：整數
REAL：浮點數
TEXT：文字
BLOB：原始資料

# 新增
INSERT INTO `資料表` (`欄位1`, `欄位2`, ...)
VALUES (值1, 值2, )

# 讀取
SELECT `欄位1`, `欄位2`, ...
FROM `資料表`
WHERE 條件1 and/or 條件2 ....
ORDER BY 排序方式1, 排序方式2
LIMIT 筆數限制


# 更新
UPDATE `資料表`
SET `欄位1`=值1, `欄位2`=值2, ...
WHERE 條件1 and/or 條件2 ....


# Delete 刪除資料
DELETE 
FROM `資料表`
WHERE 條件1 and/or 條件2 ....




```

In [ ]:
import sqlite3
conn = sqlite3.connect('stocks.db') # 如果資料庫不存在，會自動幫你建立
sql_create_table = """
CREATE TABLE `stock_date` (
	`stock_id`	INTEGER,
	`date`	TEXT,
	`open`	REAL,
	`high`	REAL,
	`low`	REAL,
	`close`	REAL,
	`volume`	INTEGER
)
"""
cursor = conn.execute(sql_create_table)
conn.close()

In [ ]:
import sqlite3
conn = sqlite3.connect('stocks.db')
sql_ins = """
    INSERT INTO `stock_date` (`stock_id`, `date`, `open`, `high`, `low`, `close`, `volume`)  
    VALUES ( 2330 ,'2020-03-03', 318.5, 320, 316, 317.5, 55169 )
"""
cursor = conn.execute(sql_ins)
cursor = conn.commit()
sql_ins2 = """
    INSERT INTO `stock_date` (`stock_id`, `date`, `open`, `high`, `low`, `close`, `volume`)  
    VALUES ( 2330 ,'2020-03-03', 918.5, 320, 316, 317.5, 55169 )
"""
cursor = conn.execute(sql_ins2)
cursor = conn.commit()
conn.close()

In [ ]:
import sqlite3
conn = sqlite3.connect('stocks.db')
sql = """
    SELECT `stock_id`,`date`,`open`,`close`,`high`,`low`,`volume`, `volume`*1000
    FROM `stock_date`
    WHERE `date` = '2020-03-03' or `volume` >= 40000
    ORDER BY `stock_id` DESC, `date`
"""
cursor = conn.execute(sql)
for row in cursor.fetchall():
    print(row)
conn.close()

(2330, '2020-03-03', 318.5, 317.5, 320.0, 316.0, 55169, 55169000)
(2330, '2020-03-03', 918.5, 317.5, 320.0, 316.0, 55169, 55169000)